<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Webpage</title>
    <!-- Linking to external CSS file -->
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>Welcome to My Webpage</h1>
    </header>

    <section>
        <p>This is the body of the webpage. You can add content here.</p>
    </section>
</body>
</html>
